<% include ../partials/header %>
<div class="container">
    <h1 style="text-align: center;margin: 20px auto;">Add new Comment to <%= campground.name %></h1>
    <div style="width:30%; margin: 50px auto;">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" name="comment[text]" type="text" placeholder="text">
            </div>
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </form>
        <div style="margin-top: 20px;">
            <a href="/campgrounds" >Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>